{{ $currentNode := . }}

{{ range .Site.Menus.main.ByWeight }}
{{ $.Scratch.Set "currentMenuEntry" . }}
<li>
  {{ if .HasChildren }}
    {{ partial "nav_link" $currentNode }}
{{ if hasPrefix ( $.Permalink | relURL | printf "%s" )  .URL }}
    <ul>
      {{ range .Children }}
        {{ $.Scratch.Set "currentMenuEntry" . }}
        <li>
          {{ if .HasChildren }}
            {{ partial "nav_link" $currentNode }}
{{ if hasPrefix ( $.Permalink | relURL | printf "%s" )  .URL }}
            <ul>
              {{ range .Children }}
                {{ $.Scratch.Set "currentMenuEntry" . }}
                {{ partial "nav_link" $currentNode }}
              {{ end }}
            </ul>
{{ end }}
          {{ else }}
            {{ partial "nav_link" $currentNode }}
          {{ end }}
        </li>
      {{ end }}
    </ul>
{{ end }}
  {{ else }}
    {{ partial "nav_link" $currentNode }}
  {{ end }}
</li>
{{ end }}
